<form action="createSurvey" method="get">
 Survey Name:
 <input type="text" name="surveyName" /></br>
 <p>Department:
 <input type="text" name="department" /></br></p>
 Division:
 <input type="text" name="div" /></br></br>
 <p><input type="submit" value="submit" match="create_surveys/questions" />
</form>
